<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lj&Ybx的学生信息管理系统</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/student.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/login.js" type="application/javascript"></script>
    <script src="/js/student.js" type="application/javascript"></script>
</head>
<body>
<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">学生信息管理系统</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" th:if="${session.user!=null}">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span th:text="${session.user.getUserName()}"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">你好</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="register" th:if="${session.user == null}">
        <div>
            <div class="form-group">
                <label for="InputEmail">邮箱</label>
                <input type="email" class="form-control" id="InputEmail" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="InputPassword">密码</label>
                <input type="password" class="form-control" id="InputPassword" placeholder="Password">
            </div>
            <button class="btn btn-default" onclick="loginEmail()">登录</button>
            <a href="/toRegister">没有账号？去注册</a>
        </div>
    </div>
    <div th:if="${session.user!=null}" id="content">
        <div class="form-inline">
            <div class="form-group">
                <label for="addName">姓名</label>
                <input type="text" class="form-control" id="addName" placeholder="姓名">
            </div>
            <div class="form-group">
                <label for="addClass">班级</label>
                <select id="addClass" class="form-control">
                    <option></option>
                    <option value="一班">一班</option>
                    <option value="二班">二班</option>
                    <option value="三班">三班</option>
                    <option value="四班">四班</option>
                </select>
            </div>
            <div class="form-group">
                <label for="addSex">性别</label>
                <select id="addSex" class="form-control">
                    <option></option>
                    <option value="男">男</option>
                    <option value="女">女</option>
                </select>
            </div>
            <div class="form-group">
                <label for="addGrade">年级</label>
                <select id="addGrade" class="form-control">
                    <option></option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                </select>
            </div>
            <div class="form-group">
                <label for="addLesson">课程</label>
                <select id="addLesson" class="form-control">
                    <option></option>
                    <option value="离散数学">离散数学</option>
                    <option value="计算机网络">计算机网络</option>
                    <option value="数据结构">数据结构</option>
                    <option value="Java开发">Java开发</option>
                </select>
            </div>
            <button class="btn btn-default" onclick="addStudent()">添加学生信息</button>
            <button class="btn btn-default" onclick="queryStudent()">查询学生信息</button>
        </div>
        <table class="table" style="margin-top: 10px">
            <tr>
                <th width="15%">姓名</th>
                <th width="15%">班级</th>
                <th width="15%">性别</th>
                <th width="15%">年级</th>
                <th width="15%">课程</th>
                <th width="25">选项</th>
            </tr>
        </table>
        <table class="table"  id="showTable">
            <tr th:each="student:${students}">
                <td th:text="${student.getName()}" width="15%"></td>
                <td th:text="${student.getClassName()}" width="15%"></td>
                <td th:text="${student.getSex()}" width="15%"></td>
                <td th:text="${student.getGrade()}" width="15%"></td>
                <td th:text="${student.getLesson()}" width="15%"></td>
                <td width="25%">
                    <a th:id="${student.getId()}" onclick="change(this)">修改 </a>
                    <a th:id="${student.getId()}" onclick="remove(this)"> 删除</a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>