<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.student.mapper.StudentMapper">
    <insert id="insertStudent" parameterType="com.student.pojo.Student">
        insert into students (name, class_name, sex, grade, lesson)
        values (#{name}, #{className}, #{sex}, #{grade}, #{lesson})
    </insert>
    <update id="updateStudent" parameterType="com.student.pojo.Student">
        update students set name=#{name},class_name=#{className},sex=#{sex},grade=#{grade},lesson=#{lesson} where id=#{id}
    </update>
    <delete id="deleteStudent">
        delete from students where id=#{id}
    </delete>
    <select id="getStudent" resultType="com.student.pojo.Student">
        select * from students
        <where>
            <if test="id != null">
                and id=#{id}
            </if>
            <if test="name != null">
                and name=#{name}
            </if>
            <if test="className != null">
                and class_name=#{className}
            </if>
            <if test="sex != null">
                and sex=#{sex}
            </if>
            <if test="grade != null">
                and grade=#{grade}
            </if>
            <if test="lesson != null">
                and lesson=#{lesson}
            </if>
        </where>
    </select>
</mapper>